<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">



<!-- Auto Wiring byType -->
	<!-- When You have more than one bean to auto wire then by specifying the primary= true that bean will be given high priority  -->
	<bean id="dtdc1" class="com.pavan.beans.DTDC" primary="true" />
	<bean id="courier" class="com.pavan.beans.BlueDart"  />
	<!-- The Following bean does not participate in the bean auto wiring  -->
	<bean id="fFlight1" class="com.pavan.beans.FirstFlight" autowire-candidate="false" /> 


	<bean id="flipkart1" class="com.pavan.beans.Flipkart" autowire="byType">
		<property name="discount" value="21.5f" />
		
	</bean>
	
<!-- Auto Wiring byName -->
<!-- when You Say By Using the byName you have to make sure that the property name and the id of the bean should be same then it will be mapped automatically  -->
	<bean id="flipkart2" class="com.pavan.beans.Flipkart" autowire="byName" >
		<property name="discount" value="21.5f" />
		
	</bean>
	
	
	
	
	

</beans>