<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.pavan.beans.Student">
		<constructor-arg name="pid" value="10" />
		<constructor-arg name="pname" value="pavan" />
		<constructor-arg name="paddress" value="HYD" />
		<constructor-arg name="dob" >
			<null/>
		</constructor-arg>
		<constructor-arg name="doj" ><null/></constructor-arg>
		<constructor-arg name="dom" ><null/></constructor-arg>
	
	
	</bean>






</beans>
 
 