<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="degreeSubjects" class="com.pavan.beans.DegreeSubjects" parent="commonSubjects">

		<property name="subjects">
			<set merge="true">
				<value>DSA</value>
				<value>JAVA</value>
				<value>WEBTECHNOLOGIES</value>
				<value>RDBMS</value>
			</set>
		</property>
	</bean>

	<bean id="commonSubjects" class="com.pavan.beansDegreeSubjects" abstract="true">
		<property name="subjects">
			<set>
				<value>C</value>
				<value>C++</value>
				<value>DBMS</value>
				<value>IOT</value>
				<value>AI</value>
				<value>ML</value>
			</set>
		</property>

	</bean>

















</beans>
 
 